#about {
  height: 80vh;
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  margin: auto;
  .about-title {
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    height: 10%;
    text-align: center;
    margin: 60px auto 40px;
    color: #414141;
    font-family: "Montserrat", sans-serif;
  }
  .about-title::after {
    content: "______";
    border-bottom: 2px solid #9fb2b9;
    padding: 8px 20px;
  }
  .about-content {
    font-size: 22px;
    height: 70%;
    width: 50%;
    margin: auto;

    p {
      display: block;
      text-align: start;
      padding-top: 20px;
      padding-bottom: 10px;
      color: #a6a8a6;
      margin: 0px;
      font-size: 20px;
      word-wrap: normal;
    }
  }
}
