#aboutPage {
  display: block;
  margin-top: 50px;
  height: 600px;
  .about-title {
    width: 100%;
    color: aqua;
    font-size: 25px;
  }
  .about-content {
    display: flex;
    width: 100%;
    .writing {
      width: 60%;
      color: #8892b0;
      p {
        width: 80%;
      }
      li {
        list-style: square;
        margin-left: 0px;
      }
    }
    .photo {
      width: 40%;
      #pic {
        width: 75%;
        margin-left: 50px;
        img {
          width: 100%;
          box-shadow: 3px 3px 3px #140f12;
          border-radius: 10px;
          opacity: 0.5;
        }
        img:hover {
          opacity: 1;
        }
      }
    }
  }
}
@media (max-width: 750px) {
  .about-content {
    display: block;
  }
}
