.home {
  text-align: center;
  margin: auto;
  font-size: 35px;
  color: #8892b0;
  height: 100vh;
  .nav-area {
    background: #001018;
    height: 100%;
    img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      z-index: 2;
      position: relative;
      bottom: -30px;
      top: 20px;
      box-shadow: 0px 0px 2px 2px gray;
    }
    .profile {
      position: relative;
      width: 35%;
      height: 40%;
      margin: auto;
      margin-top: 0px;
      padding-top: 20px;
      background: #240f16;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 55%);
      box-shadow: 0px 0px 0.5px 1px #5c5a5a;
      border-radius: 10px;
    }
    .socialButtons {
      width: 35%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: auto;
      margin-top: -30px;
      button {
        width: 20%;
      }
    }
  }
}
