* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #423129;
  min-height: 10vh;
  align-items: center;
  .navbar {
    display: flex;
    width: 95%;
    justify-content: space-between;
    .brand {
      color: #bcdbd9;
      font-weight: bold;
      padding-left: 15px;
    }
    .navlist {
      display: flex;
      justify-content: space-between;
      list-style: none;
      width: 30%;
      color: #bcdbd9;
      font-weight: bold;
      .navlist li {
      }
      .navlist a {
      }
    }
  }

  .burger {
    display: none;
    width: 5%;
    border-radius: 50%;
    height: 50px;
    margin: 1% 10%;
    div {
      justify-content: center;
      background-color: #ebecec;
      width: 60px;
      height: 3px;
      align-content: center;
      //margin: 3px auto 5px auto;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: space-around;
    .navbar {
      width: 75%;
    }
    .burger {
      display: block;
      width: 25%;
      margin: 1px;
      height: 3vh;
      div {
        height: 3px;
        width: 40px;
        margin: 4px auto;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .navlist {
    position: absolute;
    width: 100%;

    display: flex;
    transform: translate(100%);
    //overflow-x: hidden;
    ul {
      top: 41.5px;
      right: 0px;
      background-color: #b9d478;
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 92vh;
      margin: auto;
      align-items: center;
    }
  }
}
