* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #423129;
  min-height: 10vh;
  align-items: center;
  .navbar {
    display: flex;
    width: 95%;
    justify-content: space-between;
    .brand {
      color: #bcdbd9;
      font-weight: bold;
      padding-left: 15px;
    }
    .navlist {
      display: flex;
      justify-content: space-between;
      width: 30%;

      li {
        list-style: none;
      }
      a {
        font-weight: bold;
        letter-spacing: 2px;
        color: #bcdbd9;
        text-decoration: none;
      }
    }
  }

  .burger {
    display: none;
    width: 5%;
    border-radius: 50%;
    height: 50px;
    margin: 1% 10%;
    cursor: pointer;
    div {
      justify-content: center;
      background-color: #ebecec;
      width: 60px;
      height: 3px;
      align-content: center;
      //margin: 3px auto 5px auto;
    }
  }
}
@media screen and (max-width: 940px) {
  nav .navbar .navlist {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }
  nav {
    justify-content: space-around;
    height: 8vh;
    .navbar {
      width: 75%;
      .navlist {
        position: fixed;
        width: 50%;
        display: flex;
        top: 10vh;
        right: 0px;
        background-color: #423129;
        flex-direction: column;
        height: 92vh;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        overflow-x: hidden;
        li {
          justify-content: center;
          margin: 20px;
          opacity: 0;
        }
      }
      .active-nav {
        transform: translateX(0%);
        transition: transform 0.5s ease-in;
      }
    }
    .burger {
      display: block;
      width: 25%;
      margin: 1px;
      height: 3vh;
      div {
        height: 3px;
        width: 40px;
        margin: 4px auto;
        justify-content: center;
        align-items: center;
      }
    }
    .toggle .class1 {
      transform: rotate(-45deg) translate(-5px, 6px);
      width: 30px;
    }
    .toggle .class2 {
      opacity: 0;
    }
    .toggle .class3 {
      transform: rotate(45deg) translate(-5px, -5px);
      width: 30px;
    }
  }
}

@keyframes anim-navlinks {
  from {
    opacity: 0.4;
    transform: translate(30%);
    transition: transform 0.3s ease-in;
  }
  to {
    opacity: 1;
    transform: translate(0%);
  }
}
