.App {
  background-color: #0a192f;
  width: 100%;
  height: 100%;

  .navbar {
    display: block;
    height: 100px;
  }
  .content {
    display: flex;
    height: 650px;
    .left-section {
      width: 10%;
      height: 80%;
      .social {
        height: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: center;
        justify-content: flex-end;
        li {
          height: 50px;
        }
      }
    }
    .main-area {
      width: 80%;
      margin: 40px;
      padding-left: 100px;
      h1 {
        font-size: 60px;
        color: #e1ebf1;
        font-family: "Eczar", serif;
        line-height: 50px;
      }
      #h2 {
        color: #8892b0;
      }
      #p1 {
        color: #4af0cf;
        font-size: 25px;
        margin-top: 0px;
        font-family: serif;
      }
      #p2 {
        font-size: 18px;
        width: 50%;
        color: #8892b0;
      }
    }
    .right-section {
      width: 10%;
    }
  }
}
